.drum-machine {
  background: #D4ADFC;
  padding: 40px;
  /* display: flex; */
  border-radius: 15px;
  border: 5px solid yellow;
}
body{
  background: #0C134F;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.drum-pad{
  aspect-ratio: 1/1;
  background-color: #1D267D;
  color: white;
  border: none;
  border-radius: 5%;
  margin: 5px;
}

.pad-bank{
  aspect-ratio: 1/1;
  display:grid;
  gap: 0;
  grid-template-columns: repeat(3, 1fr);
  min-width: 400px;

}

.display{
  font-size: 2em;
  text-transform: uppercase;
  background-color: #1c2362;
  color: white;
  margin: 5px;
  padding: 5px 15px;
  text-align: center;
  font-weight:bold;
  border: 2px solid #5C469C;
  border-radius: 10px;
}